.categories {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  padding: 1rem 2rem;
  margin: 2rem auto;
  color: #444;
  max-width: 140rem;

  &__title {
    font-family: "Kadwa", serif;
    font-size: 6rem;
    margin: 2rem 0;
  }

  &__subtitle {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

.categories__grid {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem;
    color: $color-white;

    img {
      width: 25rem;
      height: 25rem;
      border-radius: 5px;
    }

    span {
      position: absolute;
      top: 75%;
      font-size: 2rem;
      padding-bottom: 0.1rem;
      border-bottom: 1px solid transparent;
      transition: all 0.2s;
    }

    &:hover {
      span {
        border-bottom: 1px solid $color-white;
      }
    }
  }
}
