.header {
  display: flex;
  justify-content: center;
  height: 7rem;
  background: linear-gradient(135deg, #f3e7e8 0%, #e3eeff 100%);
  padding: 0 2rem;

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 130rem;
  }

  &__brand {
    font-family: "Kadwa", serif;
    font-size: 3rem;
    display: flex;
    align-items: center;

    img {
      width: 3.5rem;
      margin-right: 1rem;
    }
  }

  &__about {
    margin-left: auto;
  }

  &__about,
  &__contact {
    font-size: 2.3rem;
    font-weight: 400;
    margin-right: 2rem;
    border-bottom: 1.5px solid transparent;
    transition: all 0.2s;

    &:hover {
      border-color: #333;
    }
  }
}
