.search {
  align-self: center;
  display: flex;
  align-items: center;
  position: relative;

  input {
    background-color: transparent;
    font-size: 2rem;
    font-family: inherit;
    width: 30rem;
    height: 4rem;
    color: #666;
    border: 1.5px solid rgba(194, 194, 194, 0.678);
    border-radius: 5px;
    outline: none;
    padding-left: 1rem;
    transition: all 0.2s;

    &::placeholder {
      color: rgba(194, 194, 194, 0.89);
    }

    &:focus {
      border-color: #999;
    }
  }

  svg {
    position: absolute;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    fill: rgba(194, 194, 194, 0.89);
  }
}
