*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgba(228, 228, 228, 0.692);
  font-family: $font-main;
  font-weight: 300;
  line-height: 1.6;
}

* > li {
  list-style: none;
}

* > a {
  text-decoration: none;
  color: inherit;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  font-size: 2rem;
  width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
section,
footer {
  width: 100%;
}
